body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* * {
    border:1px solid red;
} */

h2 {
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    margin: 0 0 25px 0;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px 0;
}

p {
    color: #616368;
    font-family: "Poppins-Regular";
    font-size: 16px;
    margin: 0;
    line-height: 26px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
}

#pink_circle {
    background: #ffecef;
}

#light_blue_circle {
    background: #f4f4ff;
}

#light_green_circle {
    background: #e4ffee;
}

#red_text {
    color: #f55767;
}

#blue_text {
    color: #2563ff;
}

#green_text {
    color: #40975f;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    vertical-align: middle;
}

.features_image {
    margin: 0 20px 0 0;
}

.features_content {
    padding: 0 250px 0 0;
}

.features_head_text {
    margin: 0 0 20px 0;
}

.features_head {
    margin: 45px 0 90px 0;
}

.features_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 60px 0;
}

.Help {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.Maininf {
    position: relative;
    height: 760px;
    width: 1391px;
    margin-left: 0px;
    margin-right: 209px;
}

.Information {
    position: absolute;
    margin-left: 800px;
    margin-top: 141px;
    height: 611px;
    width: 710px;
}

.infContainer1_h2, .FAQ_Information1_h2 {
    color: #242f51;
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    margin: 0;
    line-height: 50px;
}

.infContainer1_p {
    margin-top: 28px;
    margin-bottom: 43px;
}

.fa {
    display: inline-flex !important;
    width: 25px;
    height: 21px;
    align-items: center;
    justify-content: center;
    color: #ffcc00;
}

.fa-plus {
    margin: 24px 39px 21px 889px;
    color: #242F51;
}

.stars {
    height: 21px;
    margin: 0px;
}

.infContainer2_h3 {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    color: #242f51;
    margin: 29px 0px 31px 0px;
}

.infContainer2_p {
    margin-top: 0px 0px 60px 0px;
}

.infContainer3 {
    position: relative;
    height: 91px;
    width: 100%;
    margin-top: 51px;
}

.infContainer3_h5_1 {
    position: absolute;
    margin-left: 120px;
    margin-top: 26px;
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    color: #242f51;
}

.infContainer3_h5_2 {
    position: absolute;
    margin-left: 120px;
    margin-top: 57px;
    font-family: "Poppins-Regular";
    font-size: 18px;
    color: #616368;
}

.button {
    border: 2px solid #DEE1E6;
    height: 53px;
    width: 53px;
    margin-bottom: 8px;
    margin-top: 35px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.arrow {
    color: #DEE1E6;
}

.button:hover .arrow {
    color: #2500F9;
}

.button:hover {
    background-color: rgba(239, 243, 248, 1);
    transition: margin-right 2s, red 1s;
}

.buttonRight {
    position: absolute;
    margin-left: 539px;
}

.buttonLeft {
    position: absolute;
    margin-left: 469px;
}

.line {
    height: 26px;
    border-left: 2px solid rgba(231, 231, 231, 1);
    width: 2px;
    position: absolute;
    margin-top: 51px;
    margin-bottom: 19px;
    margin-left: 530px;
}

.man8 {
    position: absolute;
}

.Images {
    background-image: url(mans.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 626px;
    width: 823px;
    margin-top: 141px;
}

.FAQ {
    padding-bottom: 111px;
    padding-top: 173px;
    position: relative;
    width: 946px;
    height: 735px;
    margin-left: 328px;
    margin-right: 326px;
}

.FAQ_Information1 {
    position: relative;
    margin: 0px 0px 66px 0px;
    text-align: center;
}

.FAQ_Information1_h2 {
    margin: 0px 196px 0px 194px;
    width: 556px;
    height: 43px;
}

.FAQ_Information1_p {
    margin: 32px 158px 66px 156px;
    width: 632px;
    height: 40px;
}

.FAQ_MainInf {
    background-color: #f5f7fa;
    height: 257px;
    width: 946px;
    margin-left: 328px;
    margin-left: auto;
    margin-right: auto;
}

.FAQ_MainInf_h3 {
    position: absolute;
    margin: 50px 500px 185px 49px;
    width: 410px;
    color: #242f51;
}

.FAQ_MainInf_p {
    position: absolute;
    margin: 109px 92px 79px 46px;
    text-align: left;
}

.FAQ_Question {
    width: 946px;
    height: 64px;
    background-color: #f5f7fa;
    margin-top: 9px;
    vertical-align: middle;
    text-align: left;
}

.FAQ_Question_h3 {
    position: absolute;
    margin-left: 49px;
    margin-top: 23px;
    margin-bottom: 19px;
    color: #242f51;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("font-awesome-4.7.0/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("font-awesome-4.7.0/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.footer {
    background: #09142E;
    font-weight: bold;
    width: 1600px;
    margin: auto;
    padding-top: 115px;
    padding-bottom: 127px;
}

/*todo change font+size*/
.logo {
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logofp {
    color: #FCAE61;
    display: inline-block;
}

.ft_logosp {
    color: white;
    display: inline-block;
}