/*region Main Tags*/
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    color: #242f51;
    margin: 0 0 25px 0;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #616368;
    margin: 0;
}

.red_text {
    color: #f55767;
}

.blue_text {
    color: #2563ff;
}

.green_text {
    color: #40975f;
}

/*endregion*/
/*region Circle*/
.circle {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_right_margin {
    margin: 0 35px 0 0;
}

.circle_bottom_margin {
    margin: 0 0 35px 0;
}

.pink_circle {
    background: #ffecef;
}

.light_blue_circle {
    background: #f4f4ff;
}

.light_green_circle {
    background: #e4ffee;
}

.grey_circle {
    background: #F4F4FF;
}

.yellow_circle {
    background: #FFF6D3;
}

/*endregion*/
/*region Buttons*/
.big_blue_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    color: white;
    background: #2500F9;
    border: 2px solid #2500F9;
    border-radius: 100px;
    transition: .5s;
}

.big_blue_button:hover {
    color: #2500F9;
    background: white;
}

.pink-button {
    color: white;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    height: 50px;
    width: 215px;
    border-radius: 20px;
    background: linear-gradient(to right, #E8A683, #FF5F82, #E8A683);
    background-size: 200%;
    transition: .5s;
}

.pink-button:hover {
    background-position: right;
}

.link {
    position: relative;
    transition: all .3s;
}

.link:hover {
    color: #2500f9;
}

.link::after {
    content: "";
    position: absolute;
    width: 0;
    top: 70%;
    left: 50%;
    text-align: center;
    height: 2px;
    transition: all .5s;
}

.link:hover::after {
    background: #2500f9;
    width: 100%;
    left: 0;
}

/*endregion*/

.long_line {
    height: 0;
    width: 100%;
    border-bottom: 2px solid #F4F4F4;
}

/*region Features*/
.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    margin: 150px 0 0 0;
}

.features-image {
    position: relative;
}

.features-image-button {
    position: absolute;
    transform: rotate(-14.3deg);
    left: 280px;
    top: 648px;
}

.features_text {
    padding: 0 250px 0 20px;
}

.features_text_head {
    margin: 45px 0 90px 0;
}

.features_text_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 60px 0;
}

/*endregion*/
/*region Smart*/
.smart {
    width: 1030px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smart_head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.smart_head_name {
    font-size: 40px;
    line-height: 50px;
    margin: 0 80px 0 0;
}

.smart_head_line {
    border-right: 1px solid #B9B9B8;
    margin-top: 5px;
    height: 145px;
    width: 0;
}

.smart_head_text {
    margin: 0 0 0 45px;
}

.smart_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 115px 0 0 0;
}

/*endregion*/
/*region Designed*/
.designed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 115px 0 70px 0;
}

.designed_image {
    margin: 0 110px 0 0;
}

.designed_text {
    margin: 0 135px 0 0;
}

.designed_button {
    margin: 40px 0 0 0;
    height: 58px;
    width: 170px;
}

/*endregion*/
/*region Why*/
.why {
    margin: 140px 0 0 0;
    text-align: center;
}

.why_head {
    margin: 0 0 25px 0;
}

.why_row {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.why_row_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 0;
}

.home {
    margin: 0 auto;
    width: 1600px;
    height: 1002px;
    background: url("../img/home-layer-3.png") 0 100% no-repeat;
}

.home-header {
    padding-top: 93px;
    display: flex;
}

.AppLab {
    margin: auto 0;
    margin-left: 214px;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    color: #fcae61;
}

.Lab {
    color: #242f51;
}

.AppLabFooter {
    margin: auto 0;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    color: #fcae61;
    text-align: center;
}

.LabFooter {
    color: white;
}

.menu {
    margin: auto 0;
    width: 461px;
    justify-content: space-between;
    margin-left: 366px;
    display: flex;
    line-height: 44px;
}

.home-button {
    height: 57px;
    width: 170px;
}

.home-body {
    display: flex;
    background: url("../img/home-layer-1.png") no-repeat,
    url("../img/home-layer-2.png") 10px 42px no-repeat;
}

.home-text {
    margin-left: 285px;
    margin-top: 229px;
}

.edit-choice {
    display: flex;
    width: 362px;
    border-radius: 17.5px;
    background-color: #e2eaed;
}

.yellow-circle-small {
    width: 39px;
    height: 35px;
    background-color: #feaa25;
    border-radius: 17.5px;
}

.menu-item:hover {
    text-decoration: underline;
    color: #2500f9;
}

.edit-text {
    margin: auto 0;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #242f51;
}

.inc-prod {
    font-size: 18px;
    line-height: 28px;
    color: #616368;
}

.phone {
    margin-left: 109px;
    position: relative;
}

.phone-button {
    position: absolute;
    left: 110px;
    top: 650px;
}

#try-btn-1 {
    margin-left: 57px;
}

#try-btn-2 {
    margin-top: 40px;
}

#watch {
    margin-left: 27px;
}

.blue-link {
    color: #2500f9;
}

.blue-link:hover {
    text-decoration: underline;
}

/*endregion*/
/*region Ultimate*/
.ultimate {
    margin: 190px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ultimate_text {
    margin: 0 0 0 250px;
}

.ultimate_text_row {
    width: 625px;
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ultimate_text_button {
    height: 58px;
    width: 170px;
    margin: 55px 0 0 0;
}

/*endregion*/

.Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 140px 0 0 0;
    width: 1600px;
}

.Reviews-images {
    background-image: url(../img/mans.png);
    height: 630px;
    width: 825px;
    margin: 30px 0 0 0;
}

.Reviews-text-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 200px 0 0;
    width: 600px;
}

.Reviews-text-block-head {
    display: flex;
    flex-direction: column;
    margin: 0 0 45px 0;
}

.Reviews-text-block-head-name {
    font-size: 40px;
}

.fa {
    display: inline-flex !important;
    width: 25px;
    height: 21px;
    align-items: center;
    justify-content: center;
    color: #ffcc00;
}

.ci {
    margin-right: 10px;
    margin-left: 10px;
    color: #ffffff;
    opacity: 0.21;
    font-size: 32px !important;
    transition: all .3s;
}

.ci:hover {
    opacity: 1;
    transition: all .3s;
}

.fa-plus {
    color: #242F51;
}

.Reviews-text-block-inf {
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
}

.Reviews-text-block-inf-name {
    color: #242F51;
    margin: 0 0 25px 0;
}

.Reviews-text-block-person {
    display: flex;
    flex-direction: row;
}

.Reviews-text-block-person-container {
    display: flex;
    flex-direction: column;
    margin: 20px 185px 10px 30px;
}

.Reviews-text-block-person-container-name {
    color: #242F51;
    font-size: 18px;
}

.Reviews-text-block-person-container-position {
    color: #616368;
    font-size: 18px;
}

.Reviews-text-block-person-buttons {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 50px;
    margin: 25px 0 0 0;
}

.Reviews-text-block-person-button {
    border: 2px solid #DEE1E6;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s;
}

.Reviews-text-block-person-button-arrow {
    color: #DEE1E6;
}

.Reviews-text-block-person-buttons-line {
    height: 26px;
    border-left: 2px solid rgba(231, 231, 231, 1);
    width: 2px;
    margin: 15px 8px 15px 8px;
}

.Reviews-text-block-person-button:hover .Reviews-text-block-person-button-arrow {
    color: #2500F9;
    transition: all .3s;
}

.Reviews-text-block-person-button:hover {
    background-color: rgba(239, 243, 248, 1);
    transition: all .3s;
}

/*.ci{
    color: #273043;
    width: 32px;
    height: 32px;
}*/

.FAQ {
    margin: 190px 0 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FAQ-head {
    text-align: center;
    margin: 0 0 65px 0;
}

.FAQ-head-name {
    font-size: 40px;
    line-height: 58px;
}

.FAQ-big-block {
    background-color: #f5f7fa;
    height: 255px;
    width: 945px;
    padding: 50px 0 0 50px;
}

.FAQ-big-block-name {
    color: #242f51;
    margin: 0 0 35px 0;
}

.FAQ-block {
    background-color: #f5f7fa;
    height: 65px;
    width: 945px;
    padding: 0 40px 0 50px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.FAQ-block-text {
    font-weight: 400;
    margin: 0;
}

.Download {
    display: flex;
    flex-direction: column;
    width: 1380px;
    height: 415px;
    text-align: left;
    background-image: url("../img/download_background.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0 0 0 230px;
}

.Download-head {
    display: flex;
    flex-direction: column;
    margin: 80px 0 50px 0;
}

.Download-head-name {
    font-size: 48px;
}

.Download-buttons {
    display: flex;
    flex-direction: row;
}

.Download-buttons-GooglePlay {
    margin: 0 30px 0 5px;
}

.footer {
    background: #09142E;
    font-weight: bold;

    width: 1600px;
    margin: auto;
    padding-top: 115px;
    padding-bottom: 127px;
}

/*todo change font+size*/
.logo {
    font-weight: bold;
    font-size: 30pt;
    display: flex;
    justify-content: center;
}

.logofp {
    color: #FCAE61;
    margin: 0;
    padding: 0;
}

.ft_logosp {
    color: white;
    margin: 0;
    padding: 0;
}

.centered_list {
    display: flex;
    justify-content: center;
}

.share_icons {
    margin-top: 51px;
}

/*todo change font+size*/
.ft_menu {
    font-weight: 400;
    font-size: 16px;
    margin-top: 52px;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

/*todo change margin*/
.ft_mn_it {
    margin-left: 19px;
    margin-right: 19px;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}


/*--------------------*/


.pricing {
    line-height: 1;
    width: 1600px;
    display: flex;
    flex-direction: column;
    margin: 173px auto 0;
    align-items: center;
}

.text {
    margin: 0 auto;
    text-align: center;
}

.text__subtext {
    margin-top: 33px;
    line-height: 26px;
    color: #616368;
}

.buttons {
    margin: 82px 0 39px;
    width: 283px;
    height: 61px;
    border: 2px solid #ebebeb;
    border-radius: 28.5px;
    line-height: 44px;
}

.mon {
    margin: 5px 0 4px 5px;
    width: 136px;
    height: 48px;
    background-color: #2500f9;
    border-radius: 24px;
    font-weight: 700;
    color: #ffffff;
}

.ann {
    margin-left: 35px;
    opacity: 0.74;
    font-weight: 500;
    background-color: #fff;
    color: #616368;
}

.cards {
    margin-bottom: 104px;
    display: flex;
    flex-direction: row;
    color: #999ca5;
}

.cards__first {
    width: 317px;
    height: 554px;
    background-color: #ffffff;
    box-shadow: 4px 55px 62px 0 rgba(144, 163, 177, 0.18);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__second {
    margin-left: 40px;
    width: 317px;
    height: 605px;
    border: 2px solid #ebebeb;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
}

.head {
    text-align: center;
    background-image: url("../img/pricing-layer.png");
    padding: 70px 0 32px;
    width: 100%;
}

.head__pay {
    font-size: 18px;
    font-weight: 400;
    color: #999ca5;
}

.head__name {
    margin-top: 27px;
    font-size: 20px;
    font-weight: 600;
    color: #242f51;
}

.head__subname {
    margin-top: 10px;
}

.price {
    font-size: 60px;
    font-weight: 600;
    color: #242f51;
}

.body-of-card {
    text-align: center;
    margin-top: 13px;
    line-height: 48px;
}

.body-of-card__text {
    margin-bottom: 26px;
}

.body-of-card__btn {
    width: 210px;
    height: 56px;
    margin-bottom: 30px;
}

.under-btn {
    display: block;
    text-align: center;
}


.copyright {
    margin-top: 91px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.21;
}